.text-black {
  font-weight: 900;
}

.text-bold {
  font-weight: 700;
}

.text-medium {
  font-weight: 500;
}

.text-normal {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}
