{% extends "layouts/default.njk" %}
{% set pageTitle = 'Icon' %}
{% set bodyClasses = '' %}
{% block content %}
  <style>
    body {
      background-color: #f6f6f6 !important;
      color: #333 !important;
    }

    .glyph {
    }

    .glyph .item {
    }

    .glyph .item:hover {
      background: #4dadf7;
      color: #fff !important;
      box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
    }

    .glyph-name {
      line-height: 1.5;
    }
  </style>
  <br/>
  <h1 class="text-center">vbase-icon</h1>
  <br/>
  <div class="container">
    <div class="glyph clearfix">
      <div class="row">
        
          <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-3">
            <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100" title="EA01">
              <i class="vbase-icon icon-code icon-2x"></i>
              <div style="margin-top: 5px">
                <span class="glyph-name d-block text-truncate">code</span>
                {# <br/> #}
                {# <span class="glyph-codepoint">EA01</span> #}
              </div>
            </div>
          </div>
        
          <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-3">
            <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100" title="EA02">
              <i class="vbase-icon icon-css3 icon-2x"></i>
              <div style="margin-top: 5px">
                <span class="glyph-name d-block text-truncate">css3</span>
                {# <br/> #}
                {# <span class="glyph-codepoint">EA02</span> #}
              </div>
            </div>
          </div>
        
          <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-3">
            <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100" title="EA03">
              <i class="vbase-icon icon-html5 icon-2x"></i>
              <div style="margin-top: 5px">
                <span class="glyph-name d-block text-truncate">html5</span>
                {# <br/> #}
                {# <span class="glyph-codepoint">EA03</span> #}
              </div>
            </div>
          </div>
        
          <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-3">
            <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100" title="EA04">
              <i class="vbase-icon icon-js icon-2x"></i>
              <div style="margin-top: 5px">
                <span class="glyph-name d-block text-truncate">js</span>
                {# <br/> #}
                {# <span class="glyph-codepoint">EA04</span> #}
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
{% endblock %}