<footer class="text-muted bg-light border-top py-4">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p class="h5">vBase HTML</p>
    <p class="mb-0">A front-end was boilerplate for converting PSD/Sketch to HTML/CSS/JavaScripts It's focused on performance and best practices.!</p>
  </div>
</footer>
